* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #0f1111;
  color: white;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}

/* Box2 */

.address-1st {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 20px;
}
.address-2nd {
  font-size: 1rem;
}
.add-icon {
  display: flex;
  align-items: center;
}

/* box3 */

.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 3px;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #0f1111;
}

.nav-search:hover {
  border: 2px solid orange;
}

/* box4 */
span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

/* box6 */
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}
