*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* navber
/* Desktop */


/* .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    height: 100px;
    padding: 0 3rem;
    width: 100%;
}

.header_navbar__menu__select {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.header_navbar__menu__select select {
    background-color: white;
    color:  black;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.navbar_cart{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
} */ 
