body {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 227, 227);
  height: 60px;
  padding: 10px;
  align-items: center;
  /* align-content: center; */
}

.nav-button {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 20px;
}

.nav-icon h4{
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: aqua;
  border: 2px solid rgb(84, 158, 112);
  border-radius: 50px;
  align-items: center;
}
.nav-icon span {
    color: rgb(180, 138, 60);
}
.select-option-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  border: none;
}

.option-container {
  gap: 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.nav-menu a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}